In [ ]:
'''from google.colab import drive
drive.mount('/content/drive'),,,

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Deep_Learning/datasets/fuel_prices.csv')

In [ ]:
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,NaN,NaN,NaN,NaN,Date,Day,Petrol Price,Diesel Price,Dollar Value,Oil Barrel,Barrel Cost,Moving Avg
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,16 Jun 17,Friday,68.02,57.41,64.393,44.74,2880.94282,0
3,NaN,NaN,NaN,NaN,17 Jun 17,Saturday,67.76,57.23,64.4388,44.58,2872.681704,0
4,NaN,NaN,NaN,NaN,18 Jun 17,Sunday,67.42,57.03,64.3984,44.39,2858.644976,0

In [ ]:
df.drop(['Unnamed: 0','Unnamed: 1','Unnamed: 2','Unnamed: 3'], axis= 1,inplace=True)

In [ ]:
df.head()

,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,Date,Day,Petrol Price,Diesel Price,Dollar Value,Oil Barrel,Barrel Cost,Moving Avg
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,16 Jun 17,Friday,68.02,57.41,64.393,44.74,2880.94282,0
3,17 Jun 17,Saturday,67.76,57.23,64.4388,44.58,2872.681704,0
4,18 Jun 17,Sunday,67.42,57.03,64.3984,44.39,2858.644976,0

In [ ]:
df.columns = df.iloc[0]

In [ ]:
df.drop([0,1],axis=0,inplace=True)

In [ ]:
df.head()

,Date,Day,Petrol Price,Diesel Price,Dollar Value,Oil Barrel,Barrel Cost,Moving Avg
2,16 Jun 17,Friday,68.02,57.41,64.393,44.74,2880.94282,0
3,17 Jun 17,Saturday,67.76,57.23,64.4388,44.58,2872.681704,0
4,18 Jun 17,Sunday,67.42,57.03,64.3984,44.39,2858.644976,0
5,19 Jun 17,Monday,67.14,56.89,64.4906,44.2,2850.48452,2865.688505
6,20 Jun 17,Tuesday,67.04,56.85,64.6418,43.23,2794.465014,2844.0690535

In [ ]:
import plotly.graph_objs as go
import plotly

In [ ]:
petrol  = go.Scatter( x=df['Date'], y=df['Petrol Price'],name = 'Petrol_Price_Per_date')
barrelCost = go.Scatter( x=df['Date'], y=df['Barrel Cost'],name='Barrel_cost')
data = [petrol, barrelCost]
layout = dict(title = 'Petrol price vs barrel price',
              xaxis= dict(title= 'Years',ticklen= 4,zeroline= False))
fig =dict(data = data, layout = layout)
plotly.offline.iplot(fig)

In [ ]:
df.isnull().any()

0
Date            False
Day             False
Petrol Price    False
Diesel Price    False
Dollar Value    False
Oil Barrel      False
Barrel Cost     False
Moving Avg      False
dtype: bool

In [ ]:
df1 = df.drop(['Date','Day','Moving Avg','Diesel Price','Barrel Cost'],axis=1,inplace=True)

In [ ]:
df.head()

0 Petrol Price Dollar Value Oil Barrel
2        68.02       64.393      44.74
3        67.76      64.4388      44.58
4        67.42      64.3984      44.39
5        67.14      64.4906       44.2
6        67.04      64.6418      43.23

In [ ]:
x = df.drop(['Petrol Price'],axis =1)
y = df['Petrol Price']

In [ ]:
from sklearn.preprocessing import MinMaxScaler
sc = MinMaxScaler()
x1=sc.fit_transform(x)

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x1,y,test_size=0.25,random_state=None)

In [ ]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [ ]:
model.predict(x_test)

array([69.29849694, 71.29942903, 71.0741329 , 73.28071993, 83.5833754 ,
       72.34479205, 72.76530082, 72.78070457, 77.89971706, 72.72442925,
       73.02097585, 74.48862935, 75.09236375, 69.05345076, 75.0940874 ,
       68.23169807, 67.76870106, 73.06613544, 75.09902978, 67.96731415,
       71.00311098, 79.47864922, 69.29481718, 68.82420642, 70.57480469,
       71.17366996, 68.74274934, 74.85546615, 78.69187539, 78.90439845,
       79.88579633, 80.047857  , 68.28288752, 77.96638538, 79.93945875,
       78.21686101, 74.39260064, 71.10869905, 77.76165103, 75.48536111,
       81.13305412, 69.22375366, 68.91157513, 74.54541833, 79.21865618,
       75.04364746, 81.30398849, 77.70384651, 73.1869096 , 73.50043   ,
       70.9723117 , 80.16168674, 68.77870813, 72.48431103, 71.25334214,
       74.58660537, 69.60678195, 76.43559292, 81.14605479, 77.58528286,
       80.03185134, 79.21060857, 79.19927609, 75.61787294, 69.42159775,
       72.75053736, 71.04442296, 79.22698251, 74.23611217, 75.32351588,
       77.22213445, 80.21130954, 75.08963807, 69.07158189, 72.64033154,
       75.13333667, 78.14126013, 69.85576173, 81.54677433, 74.02236375,
       72.53079918, 69.51767143, 68.77530786, 69.15526391, 74.41134904,
       74.34090091, 69.89920369, 71.10977528, 72.67027902, 74.55975861,
       69.37509799, 75.22848173, 77.64646481, 72.66576975, 73.24671727,
       71.81469527, 79.49824247, 79.83147076, 81.5623317 , 77.73594474,
       79.26253817, 72.41959339, 71.60761906, 67.7780465 , 79.99569192,
       77.85189435, 68.79839392, 80.13830939, 69.88869229, 79.86833097,
       72.93190053, 81.2604971 , 75.92320729, 79.90024807])

In [ ]:
model.score(x_test,y_test)

0.8623035905583257

In [ ]:
from sklearn.metrics import mean_absolute_error,mean_squared_error
 
mae = mean_absolute_error(y_test,y_predicted)
mse = mean_squared_error(y_test,y_predicted) 

print("Mean absolute error : ",mae)
print("Mean squared error : ",mse)

Mean absolute error :  5.004472393543501
Mean squared error :  38.439038003031314